<section class="login-page">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <div class="form-section">
        <form class="login-form">
            <div>
                <label for="username-login">USER</label>
                <input type="text" class="entry-field" id="username-login" placeholder="ID" />
            </div>
            <div>
                <label for="password-login">PASS</label>
                <input type="password" class="entry-field" id="password-login" placeholder="PASSWORD" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">LOGIN</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-in-link">SIGN UP</a>
</section>

<script src="/js/login.js"></script>